/* 
--- 01 Typography
- FONT SIZE SYSTEM (px)
	10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font Weight:
	default: 400;

- Line Height:
	default: 1;

--- 02 Colors
Main: #e67e22
Tints:
#fdf2e9
#fae5d3
Shades:#cf711f
Grey: #888
			#555
			#333
		

--- 05 Shadows

--- 06 Border-Radius
Default: 10px

--- 07 Whitespace

- SPACING SYSTEM (px)
	2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
	--main: #e67e22;
	--tint1: #fdf2e9;
	--tint2: #fae5d3;
	--shade1: #cf711f;
	--grey1: #333;
	--grey2: #555;
	--grey3: #888;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ROOT / REM + VARIABLES */
html {
	/* 62.5% of 16px = 10px */
	/* 1 REM */
	font-size: 62.5%;
}

body {
	font-family: 'Rubik', sans-serif;
	line-height: 1;
	font-weight: 400;
	color: var(--grey2);
}

/***************************/
/* General Reusable Components */
/***************************/
.container {
	max-width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}

.grid {
	display: grid;
	column-gap: 6.4rem;
	row-gap: 9.6rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
	align-items: center;
}

p {
	font-size: 2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-weight: 700;
	letter-spacing: -0.5px;
	color: var(--grey1);
}

.heading-primary {
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 4.8rem;
}

.heading-secondary {
	font-size: 4.4rem;
	margin-bottom: 9.6rem;
}

.heading-tertiary {
	font-size: 3rem;
	margin-bottom: 3.2rem;
}

.subheading {
	display: block;
	color: var(--shade1);
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
}

.center-text {
	text-align: center;
}

strong {
	font-weight: 500;
}

.btn:link,
.btn:visited {
	display: inline-block;

	font-size: 2rem;
	font-weight: 500;
	text-decoration: none;
	padding: 1.6rem 3.2rem;
	border-radius: 10px;
	transition: background-color 0.3s;
}

.btn--eat:link,
.btn--eat:visited {
	background-color: var(--main);
	color: #fff;
}

.btn--eat:hover,
.btn--eat:active {
	background-color: var(--shade1);
}

.btn--learn:link,
.btn--learn:visited {
	background-color: #fff;
	color: var(--grey1);
	/* Trick for Border inside */
	box-shadow: inset 0 0 0 3px #fff;
}

.btn--learn:hover,
.btn--learn:active {
	background-color: var(--tint1);
}

.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	color: var(--grey1);
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 100px;
}

.tag--vegetarian {
	background-color: #51cf66;
}

.tag--vegan {
	background-color: #94d82d;
}

.tag--paleo {
	background-color: #ffd43b;
}

.margin-right-sm {
	margin-right: 1.6rem !important;
}

.margin-top {
	margin-top: 8rem;
}
